In [23]:
import numpy as np
import pandas as pd

### Dataset: SOCR-HeightWeight

In [24]:
df=pd.read_csv('SOCR-HeightWeight.csv')

In [25]:
df

       Index  Height(Inches)  Weight(Pounds)
0          1        65.78331        112.9925
1          2        71.51521        136.4873
2          3        69.39874        153.0269
3          4        68.21660        142.3354
4          5        67.78781        144.2971
...      ...             ...             ...
24995  24996        69.50215        118.0312
24996  24997        64.54826        120.1932
24997  24998        64.69855        118.2655
24998  24999        67.52918        132.2682
24999  25000        68.87761        124.8742

[25000 rows x 3 columns]

In [26]:
df_normalized= df.copy()

In [9]:
mx_height= max(df_normalized["Height(Inches)"].values)
mn_height=min(df_normalized["Height(Inches)"].values)

In [10]:
mx_weight=max(df_normalized["Weight(Pounds)"])
mn_weight=min(df_normalized["Weight(Pounds)"])

In [11]:
print(mx_height, mn_height)
print(mx_weight, mn_weight)

75.1528 60.27836
170.924 78.01476

#### Min-max: 0/1 Normalization height and weight

In [ ]:
for i in range(len(df_normalized["Height(Inches)"])):
    val=df_normalized["Height(Inches)"][i]
    val = (val-mn_height)/(mx_height-mn_height)
    df_normalized["Height(Inches)"][i]=val
    
for i in range(len(df_normalized["Weight(Pounds)"])):
    val=df_normalized["Weight(Pounds)"][i]
    val = (val-mn_weight)/(mx_weight-mn_weight)
    
    df_normalized["Weight(Pounds)"][i]=val

In [28]:
print(df_normalized)

       Index  Height(Inches)  Weight(Pounds)
0          1        0.370095        0.376472
1          2        0.755447        0.629351
2          3        0.613158        0.807370
3          4        0.533683        0.692295
4          5        0.504856        0.713410
...      ...             ...             ...
24995  24996        0.620110        0.430705
24996  24997        0.287063        0.453975
24997  24998        0.297167        0.433226
24998  24999        0.487468        0.583940
24999  25000        0.578123        0.504357

[25000 rows x 3 columns]

### Min-Max Normalization: Boundary(10,20)

In [ ]:
df_normalized_range= df.copy()
min_range=10
max_range=20
for i in range(len(df_normalized_range["Height(Inches)"])):
    val=df_normalized_range["Height(Inches)"][i]
    val = ((val-mn_height)*(max_range-min_range))/(mx_height-mn_height)+min_range
    df_normalized_range["Height(Inches)"][i]=val
    
for i in range(len(df_normalized_range["Weight(Pounds)"])):
    val=df_normalized_range["Weight(Pounds)"][i]
    val = ((val-mn_weight)*(max_range-min_range))/(mx_weight-mn_weight)+min_range
    
    df_normalized_range["Weight(Pounds)"][i]=val

In [30]:
df_normalized_range

       Index  Height(Inches)  Weight(Pounds)
0          1       13.700946       13.764721
1          2       17.554469       16.293512
2          3       16.131579       18.073701
3          4       15.336833       16.922954
4          5       15.048560       17.134096
...      ...             ...             ...
24995  24996       16.201101       14.307046
24996  24997       12.870629       14.539747
24997  24998       12.971668       14.332264
24998  24999       14.874684       15.839402
24999  25000       15.781226       15.043572

[25000 rows x 3 columns]

## Dataset: Dataset_Normaization

In [55]:
df2= pd.read_excel("Dataset_Normaization.xlsx")
df2

   CustomerID  Age  Income  PurchaseAmount
0           1   25   50000             500
1           2   30   60000             550
2           3   35   70000             600
3           4   40   80000             700
4           5   45   90000             300
5           6   60  100000             250
6           7   55  110000             320
7           8   50  120000             800
8           9   65  130000             900
9          10   75  140000            1000

In [56]:
df2_normalized= df2.copy()

In [57]:
columns= ["Age", "Income", "PurchaseAmount"]

### 0/1 Normalization

In [58]:
for column in columns:
    mx_column= max(df2_normalized[column].values)
    mn_column=min(df2_normalized[column].values)
    
    for idx in range(len(df2_normalized[column])):
        val= df2_normalized[column][idx]
        print(val)
        if mx_column-mn_column!=0:
            val= (val-mn_column)/(mx_column-mn_column)
            df2_normalized[column][idx]=val
        else:
            df2_normalized[column][idx]=0.5

25
30
35.0
40.0
45.0
60.0
55.0
50.0
65.0
75.0
50000
60000
70000.0
80000.0
90000.0
100000.0
110000.0
120000.0
130000.0
140000.0
500
550.0
600.0
700.0
300.0
250.0
320.0
800.0
900.0
1000.0

C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\41993313.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2_normalized[column][idx]=val
C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\41993313.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_normalized[column][idx]=val
C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\41993313.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_normalized[column][idx]=val
C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\41993313.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.1111111111111111' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2_normalized[column][idx]=val
C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\41993313.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_normalized[column][idx]=val
C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\41993313.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.3333333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2_normalized[column][idx]=val

In [59]:
print(df2_normalized)

   CustomerID  Age    Income  PurchaseAmount
0           1  0.0  0.000000        0.333333
1           2  0.1  0.111111        0.400000
2           3  0.2  0.222222        0.466667
3           4  0.3  0.333333        0.600000
4           5  0.4  0.444444        0.066667
5           6  0.7  0.555556        0.000000
6           7  0.6  0.666667        0.093333
7           8  0.5  0.777778        0.733333
8           9  0.8  0.888889        0.866667
9          10  1.0  1.000000        1.000000

### Normalization range(10,20)

In [62]:
df2_normalized_range= df2.copy()
min_range2=10
max_range2=20

In [64]:
for column in columns:
    mx_column= max(df2_normalized_range[column].values)
    mn_column=min(df2_normalized_range[column].values)
    
    for idx in range(len(df2_normalized_range[column])):
        
        val= df2_normalized_range[column][idx]
        if mx_column-mn_column!=0:
            val= ((val-mn_column)*(max_range2-min_range2))/(mx_column-mn_column)+min_range2
            df2_normalized_range[column][idx]=val
        else:
            df2_normalized_range[column][idx]=(max_range2+min_range2)/2

C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\1780949100.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_normalized_range[column][idx]=val
C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\1780949100.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_normalized_range[column][idx]=val
C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\1780949100.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_normalized_range[column][idx]=val
C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\1780949100.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_normalized_range[column][idx]=val
C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\1780949100.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_normalized_range[column][idx]=val
C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\1780949100.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_normalized_range[column][idx]=val
C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\1780949100.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_normalized_range[column][idx]=val
C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\1780949100.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_normalized_range[column][idx]=val
C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\1780949100.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_normalized_range[column][idx]=val
C:\Users\ANANT TIWARI\AppData\Local\Temp\ipykernel_23264\1780949100.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_normalized_range[column][idx]=val

In [65]:
print(df2_normalized_range)

   CustomerID  Age     Income  PurchaseAmount
0           1   10  10.000000       13.333333
1           2   11  11.111111       14.000000
2           3   12  12.222222       14.666667
3           4   13  13.333333       16.000000
4           5   14  14.444444       10.666667
5           6   17  15.555556       10.000000
6           7   16  16.666667       10.933333
7           8   15  17.777778       17.333333
8           9   18  18.888889       18.666667
9          10   20  20.000000       20.000000